
$fonte-padrao: 'Helvetica', sans-serif;
$fonte-destaque: 'Source Sans 3', sans-serif;

$tamanho-titulo-principal: 60px;
$tamanho-titulo-auxiliar: 60px;

$tamanho-botao: 24px;
$tamanho-card-titulo: 30px;

$peso-regular: 400;
$peso-semibold: 600;
$peso-bold: 700;

$ds-cor-primaria: #1f5aa6; 
$ds-cor-destaque: #ff6b5c;

$ds-cor-fundo-principal: #ffffff;
$ds-cor-fundo-claro: #f5f7fa;

$ds-cor-texto-principal: #1c1c1c;
$ds-cor-texto-secundario: #5f6c7b;