@use "../../globalStyles.scss";

.main {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 20px;
  color: globalStyles.$primary-color;

  h1 {
    font-size: 1.875rem;
  }
  p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
    width: 756px;
  }

  .button {
    color: globalStyles.$secondary-color;
    font-size: 1.5rem;
    background: #fd7267;
    width: 332px;
    height: 64px;
    font-weight: 600;
    text-align: center;
  }
}
.infoDados {
  width: 756px;
  display: flex;
  justify-content: space-between;

  article {
    h2,
    p {
      font-family: Helvetica;
    }
    h2 {
      font-size: 3.25rem;
    }
    p {
      font-weight: 400;
      display: inline;
    }
  }
}

@media (max-width: 768px) {
.main {
    flex-direction: column; 
    align-items: center;
    
img{
  width: 100%;
  
}
   
  }

  .info {
    width: 100%;
    align-items: center; 
    text-align: center;
    gap: 30px; 

    h1 {
      font-size: 1.5rem; 
    }

    p {
      width: 90%; 
      font-size: 1.1rem;
      line-height: 1.5;
    }

    .button {
      width: 90%; 
      max-width: 332px;
    }
  }

  .infoDados {
    width: 100%;
    flex-direction: column; 
    gap: 20px;
    margin-top: 30px;

    article {
      h2 {
        font-size: 2.5rem; 
      }
      p {
        display: block; 
        font-size: 1rem;
      }
    }
  }
}