@use "../../globalStyles.scss";

.main {
  border: solid 2px red;
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 20px;
  color: globalStyles.$primary-color;

  h1 {
    font-size: 1.875rem;
  }
  p {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.8;
    width: 756px;
  }

  .button {
    color: globalStyles.$secondary-color;
    font-size: 1.5rem;
    background: #fd7267;
    width: 332px;
    height: 64px;
    font-weight: 600;
    text-align: center;
  }
}
.infoDados {
  width: 756px;
  display: flex;
  justify-content: space-between;

  article {
    h2,
    p {
      font-family: Helvetica;
    }
    h2 {
      font-size: 3.25rem;
    }
    p {
      font-weight: 400;
      display: inline;
    }
  }
}
