.main {
  border: solid 2px red;
  display: flex;
  justify-content: space-between;
}

.info {
  border: solid 2px rgb(0, 4, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 20px;
  //   align-items: center;
  h1 {
    font-size: 90px;
    color: #205691;
  }
}
