@use '../../globalStyles.scss';

.footer {
  width: 100%;
  background-color: #ebeef2; 
  border-top: 4px solid globalStyles.$primary-color; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;


  padding: 20px 15px;
  
  p {
    margin: 0;
    color: #333;
    font-size: 12px;
    line-height: 1.4;
  }

  @media (min-width: 768px) {
    padding: 30px 20px;
    
    p {
      font-size: 14px;
    }
  }


  @media (min-width: 1024px) {
    padding: 40px 0;
    
    p {
      font-size: 15px;
    }
  }
}