@use '../../globalStyles.scss';

.mentoria {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 1024px;

  h1 {
    text-align: center;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 3.75rem;
    color:globalStyles.$primary-color ;
   padding-top: 5rem;
  }
  .cardData {


    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
}
@media (max-width: 768px) {
  .mentoria  {
    height: auto; 

    h1 {
      font-size: 2.25rem; 
      padding-top: 2rem;
      margin-bottom: 1.5rem;
    }

    .cardData {
      flex-direction: column; 
      height: auto; 
      gap: 40px; 
      padding: 0 20px;
    }
  }
}

